<form action="/login" method="post">
	<div>
		<input name="username" type="text" autocomplete="off">
	</div>
	<div><input name="password" type="password" autocomplete="off">
	</div>
	<div>
		<input type="submit">
	</div>
</form>